:root {
  user-select: none;
  --bgColor: rgb(30, 30, 38);
  --bgDiffColor: rgb(31, 38, 31);
  --creenColor: rgb(0, 200, 0);
  --redColor: rgb(200, 0, 0);
  --fgColor: rgb(179, 179, 177);
  --windowPadding: 1.5rem;
  --hourglass: '\23F3';
  --checkmark: '\2714';
  --error: '\2718';
  --schoolPrimaryColor: rgb(255, 255, 255);
  --schoolPrimaryColor: rgb(200, 0, 0);
}

html {
  background-color: var(--bgColor);
  color: var(--fgColor);
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signa', 'SF Pro Display', sans-serif;
  margin: auto;
  padding: var(--windowPadding);
  width: calc(100vw - var(--windowPadding) * 2);
  height: calc(100vw - var(--windowPadding) * 2);
  max-width: calc(100vw - var(--windowPadding) * 2);
  min-width: calc(100vw - var(--windowPadding) * 2);
  max-height: calc(100vh - var(--windowPadding) * 2);
  min-height: calc(100vh - var(--windowPadding) * 2);
  white-space: pre-line;
  overflow-x: hidden;
  overflow-y: auto;
}

body > *:last-child {
  padding-bottom: var(--windowPadding);
}

h1 {
  margin-top: 0;
}

li:has(ul) {
  list-style: none;
}

li:has(ul)::before {
  content: '>';
  margin-right: 0.5em;
  display: inline-block;
}

li:has(ul)[open='true']::before {
  transform: rotate(90deg);
}

li:has(ul)>ul {
  display: none;
}

li:has(ul)[open='true']>ul {
  display: initial;
}

li:has(ul)[open='true']>ul>li {
  margin-left: 2em;
}

.blockSpan,
.clickSpan {
  display: block;
}

.clickSpan {
  cursor: pointer;
}

.clickSpan.selected::before {
  content: '»';
}

.clickSpan.selected::after {
  content: '«';
}

.clickSpan:hover {
  background-color: var(--bgDiffColor);
}

.filled::before {
  font-family: Courier, monospace;
  color: var(--creenColor);
  content: var(--checkmark) " ";
}

tr:not(:last-of-type) {
  border-bottom: 2px solid var(--fgColor);
}

td {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

table {
  max-width: calc(100vw - var(--windowPadding));
  overflow-x: hidden;
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chosenCameraId {
  max-width: 300px;
}

.connectionTest.success::after {
  color: var(--creenColor);
  content: var(--checkmark);
}

.connectionTest.fail::after {
  color: var(--redColor);
  content: var(--error);
}

.connectionTest.running::after {
  content: var(--hourglass);
}

.absoluteCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}